<div style="display: flex; justify-content: center">
  В лабораторній роботі &#8470; 8 було створено просту аплікацію для <br>
  реєстрування користувачів. В цій роботі потрібно додати зручності для <br>
  роботи з додатком і додати оформлення.<br>
  Послідовність виконання завдань: <br>
  1. Відкрити проект ЛР8; <br>
  2. Додати до проекту хедер і футер [1]. <br>
  3. У футері розмістити контактну інформацію про розробника. <br>
  4. Приєднати до проекту фреймворк Bootstrap [2]. <br>
  5. Вибрати один із готових шаблонів в розділі Navs & Tabs [3], <br>
  розмістити його у хедері свого проекту. <br>
  6. До пунктів навігації приєднати такі дії "Про проект", "Створити <br>
  користувача", "Показати всіх користувачів", "Видалити всіх користувачів". <br>
  Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи. <br>
  7. Видалити дії, які є на сторінках, і продубльовані в навбарі. <br>
</div>

