<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/about">Про проект</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/new">Створити користувача</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Показати всіх користувачів</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/remove_all">Видалити всіх користувачів</a>
  </li>
</ul>

